name: Build and Analyze
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Unity
        uses: game-ci/unity-builder@v2
        env:
            UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
            UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
            UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          unityVersion: 2021.3.22f1
          projectBaseDir: ./../

      ## Hasta aquí funciona correctamente.

  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

#name: Prueba
#on:
#  push:
#    branches:
#      - master
#  pull_request:
#    types: [opened, synchronize, reopened]
#jobs:
#  build:
#    name: Build and analyze
#    runs-on: windows-latest
#    steps:
#      - uses: game-ci/unity-builder@v2
#        env:
#            UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
#            UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
#            UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
#        with:
#            targetPlatform: WebGL